<section id="testimonials" class="anchor">
	<div class="testimonials">
		<div class="container">
			<div class="grid">
				<div class="column">
					{{- with .Params.a_title -}}<h3>{{ markdownify . }}</h3>{{- end -}}
				</div>
			</div>
			<div class="grid">
				<div class="owl-carousel owl-theme">
				    <div class="item">
				    	{{- with .Params.a_1 -}}<p>"{{ markdownify . }}"</p>{{- end -}}
				    	<figure>
				    		<img class="testimonial-profile" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-1/p50x50/67700546_2408701276122678_3940353729227653120_n.jpg?_nc_cat=100&_nc_oc=AQnM8cfBwhpXt3PaWztSLeX4f76Py0HDoifFcoFElgpn_9LlIyAQb8bNKRZflDQ-Kt8&_nc_ht=scontent-sjc3-1.xx&oh=5770fbccb450a2d491c53171d6cf8c9b&oe=5DE018F6" />
				    		{{- with .Params.a_2 -}}<figcaption><a href="https://www.facebook.com/pg/drcadoo/reviews/" target="_blank">{{ markdownify . }}</a></figcaption>{{- end -}}
				    	</figure>
				    </div>
				    <div class="item">
				    	{{- with .Params.b_1 -}}<p>"{{ markdownify . }}"</p>{{- end -}}
				    	<figure>
				    		<img class="testimonial-profile" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-1/p50x50/65301387_3340862422606080_7856704196202987520_n.jpg?_nc_cat=104&_nc_oc=AQlBwOOcQaJeejnh1NqnpDB1oHKgpKn25-kWsVDlUgiaib1DOy8ddTJWXIDv2hh6dIk&_nc_ht=scontent-sjc3-1.xx&oh=e0157200cc05f0992d989c7752b7c853&oe=5DDA93AA" />
				    		{{- with .Params.b_2 -}}<figcaption><a href="https://www.facebook.com/pg/drcadoo/reviews/" target="_blank">{{ markdownify . }}</a></figcaption>{{- end -}}
				    	</figure>
				    </div>
				    <div class="item">
				    	{{- with .Params.c_1 -}}<p>"{{ markdownify . }}"</p>{{- end -}}
				    	<figure>
				    		<img class="testimonial-profile" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-1/p50x50/67062108_10219025907295826_7447672010810851328_n.jpg?_nc_cat=103&_nc_oc=AQki1A_NJgD_sAC56SLMRxJhrxLl0EcRmAotYL7JdCOqOHl1vbDE4Z5rjUdYWv8PqMk&_nc_ht=scontent-sjc3-1.xx&oh=734e21fa724f49e4e16f369dd7d88dc7&oe=5DC94FC0" />
				    		{{- with .Params.c_2 -}}<figcaption><a href="https://www.facebook.com/pg/drcadoo/reviews/" target="_blank">{{ markdownify . }}</a></figcaption>{{- end -}}
				    	</figure>
				    </div>
				    <div class="item">
				    	{{- with .Params.d_1 -}}<p>"{{ markdownify . }}"</p>{{- end -}}
				    	<figure>
				    		<img class="testimonial-profile" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-1/p50x50/66377076_10218992802748397_2553047685955321856_n.jpg?_nc_cat=100&_nc_oc=AQkE_CKYjnWWyO4UNo13_SC7Bjjb4qzICcHc02nqogwfz7OHxtsA8sUKX79Qsy69OcI&_nc_ht=scontent-sjc3-1.xx&oh=48be4adba44870304ed8a62b0ade282c&oe=5DD8A04D" />
				    		{{- with .Params.d_2 -}}<figcaption><a href="https://www.facebook.com/pg/drcadoo/reviews/" target="_blank">{{ markdownify . }}</a></figcaption>{{- end -}}
				    	</figure>
				    </div>
				    <div class="item">
				    	{{- with .Params.e_1 -}}<p>"{{ markdownify . }}"</p>{{- end -}}
				    	<figure>
				    		<img class="testimonial-profile" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-1/p50x50/67228556_10157486061449828_7701921142587523072_n.jpg?_nc_cat=102&_nc_oc=AQm47AcXERYGyOgMezJ8iR6MJ80jQ2zc62REGfmLanYZPukvR0RQBgzH6T4XECe8-sQ&_nc_ht=scontent-sjc3-1.xx&oh=226c7359bf34478786d7a1713f48394f&oe=5DDB15DD" />
				    		{{- with .Params.e_2 -}}<figcaption><a href="https://www.facebook.com/pg/drcadoo/reviews/" target="_blank">{{ markdownify . }}</a></figcaption>{{- end -}}
				    	</figure>
				    </div>
				    <div class="item">
				    	{{- with .Params.f_1 -}}<p>"{{ markdownify . }}"</p>{{- end -}}
				    	<figure>
				    		<img class="testimonial-profile" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-1/p50x50/66451804_10215022282330024_4284176611575595008_n.jpg?_nc_cat=102&_nc_oc=AQl0oVZtpuGu6GoWSh1VaYwX2lAhK0xsg7PAg5EB1YKZASl0cA03fv4FYDzqtLT4SL4&_nc_ht=scontent-sjc3-1.xx&oh=c4543d02f1828e0f91c7ca92f7cd4ef6&oe=5DDD5798" />
				    		{{- with .Params.f_2 -}}<figcaption><a href="https://www.facebook.com/pg/drcadoo/reviews/" target="_blank">{{ markdownify . }}</a></figcaption>{{- end -}}
				    	</figure>
				    </div>
				    <div class="item">
				    	{{- with .Params.g_1 -}}<p>"{{ markdownify . }}"</p>{{- end -}}
				    	<figure>
				    		<img class="testimonial-profile" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-1/p50x50/49205160_2931165323576329_214512665584730112_n.jpg?_nc_cat=100&_nc_oc=AQmEZaJY-rMChKfo-OUML9BjY_BonDZ4przrya3ne1SXgjw_Wkj5LioLcEOoWjs-4BU&_nc_ht=scontent-sjc3-1.xx&oh=7a4d800a82a99b931ff3185232f53e4f&oe=5DED1A94" />
				    		{{- with .Params.g_2 -}}<figcaption><a href="https://www.facebook.com/pg/drcadoo/reviews/" target="_blank">{{ markdownify . }}</a></figcaption>{{- end -}}
				    	</figure>
				    </div>
				</div>
			</div>
		</div>
	</div>
</section>